@import "../../app/variables.module.scss";
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 1rem 0;
    &_headshot{
        img{
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }

    }
    &_text{
        color: $white;
        font-weight: $font-weight-normal;
        line-height: $line-height;


    }
}