@import '../../app/variables.module.scss';

.blog_nav {
    background-color: transparent;
    margin-top: 2rem;
    margin-inline: 1rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #dddddd;
    padding: 0.5rem .5rem;
    border-radius: 0.5rem;
    text-align: center;
    border: 2px solid #dddddd;

    
  
   &_name{
        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 0.5rem;
        transition: all 0.2s ease-in-out;

        &:hover{
            color: rgb(255, 255, 255);
            letter-spacing: 4px;
            background-color: hsl(250, 46%, 68%);
            border-radius: 5px;
    
        }
   
   }
   .blog_nav_links{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    img{
        filter: invert(100%);
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: invert(hsl(250, 46%, 68%));
            padding: .2rem;
            border-radius: 2px;
        }
    }

    
   }
  
   
}
  