@import "../../app/variables.module.scss";

.tagline{
    font-size: $font-size-xxxl;
    font-weight: $font-weight-bold;
    text-align: center;
    line-height: 1.2;
    margin: 2rem 0;

    // span{
       
    // }
}